* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-image: url("https://i.stack.imgur.com/SvWWN.png");
    background-color:darkorange;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 3.6% auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#info h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#info h2 {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.shape-for-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    width: 85%;
    max-height: 900px;
    height: 95%;
}
.board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap;*/
    width: 100%;
}

.card a{
    position: relative;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 1.5%;
    z-index: 1;
}

.card {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    transition: all 0.3s ease;
}

.card a img {
    max-width: 220%;
    max-height: 110%;
    transition: all 0.3s ease;
}

.card:hover {

    position: relative;
    z-index: 2;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    max-width: 350px;
    cursor: pointer;
}

.card:hover img {
    position: relative;
    max-width: 150%;
}

.card a .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    margin: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.card a .overlay-text p {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.card:hover a .overlay-text {
    opacity: 0;
}

@media (max-width: 1079px) {
   .card a {
        height: 100%;
        width: 100%;
        max-width: 220px;
        max-height: 220px;
    }
    .card a img {
        max-width: 220%;
        max-height: 110%;
        transition: all 0.3s ease;
    }
}

@media (max-width: 600px) {
    .board{
        flex-wrap: wrap;
    }
    .card{
        width: 50%;
    }
    .card a {
        margin: 2% auto;
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 80%;
        max-height: 80%;
    }
    .card a img {
        max-width: 220%;
        max-height: 110%;
        transition: all 0.3s ease;
    }
}

@media (max-width: 400px) {
    .board{
        flex-wrap: wrap;
    }
    .card{
        width: 50%
    }
    .card a {
        margin: 2% auto;
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 90%;
        max-height: 90%;
    }
    .card a img {
        max-width: 220%;
        max-height: 110%;
        transition: all 0.3s ease;
    }
}

@media (max-width: 376px) {
    .board{
        flex-wrap: wrap;
    }
    .card{
        width: 50%
    }
    .card a {
        margin: 2% auto;
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 90%;
        max-height: 90%;
    }
    .card a img {
        max-width: 220%;
        max-height: 110%;
        transition: all 0.3s ease;
    }
}